html{
    color:#000000;
        font-family:"times new roman", "sans-serif";
        font-size: 20px
}
img{
    padding:  0px 15px 0px 15px;
}

.main-nav {
    text-transform: capitalize;
    text-decoration-color: #FFFFFF;
    font-size: 100%;
}

body{
    background-image: url(assignment-2/images/full-moon.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh; 
    color: #FFFFFF;
    font-size: 125%;
}
h1,
h2{color: #FFFFFF;
    font-size: 300%;  
}
